<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>ProductID</th>
        <th>ProductName</th>
        <th>CategoryName</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="inventory : ${inventories}">

        <td th:text="${inventory.ProductID}">ProductID</td>
        <td th:text="${inventory.ProductName}">ProductName</td>
        <td th:text="${inventory.CategoryName}">CategoryName</td>
        <td><a th:href="@{/edit/{id}(id=${inventory.ProductID})}">Edit</a></td>
        <td><a th:href="@{/delete/{id}(id=${inventory.ProductID})}">Delete</a></td>
    </tr>
    </tbody>
</table>


</body>
</html>